* {padding: 0;margin: 0;}
ol,ul,li {list-style: none;}
img {width: 100%;}
a {text-decoration: none;cursor: pointer;}
.content_box {
    width: 990px;
    margin: 0 auto;
}

.content_box details .item_des{
    margin-left: 30px;
}

.content_box details .item_des p{
    color: #e9676b;
    font-size: 15px;
    line-height: 22px;
    font-family: serif;
    font-weight: 400;
    margin-top: 4px;
    margin-bottom: 4px;
}

.content_box details .item_des p::before {
    content: "描述: ";
    font-weight: 900;
    color: #e9676b;
}


.content_box details .item_des button {
    padding: 2px 10px;
    margin-bottom: 5px;
    vertical-align: middle;
    background-color: rgb(233, 104, 107);
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 6px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    font-family: 微软雅黑;
    transition: all 0.2s ease-out 0s;
    border-radius: 5px;
}

.content_box details .item_des button:hover {
    background-color: #ba3537;
    color: #fff;
}



.content_box details .item_des button  a {
    display: block;
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
}

/* 联系我 */

.contact {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: block;
    width: 60px;
    text-align: center;
}

.contact li {
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    background: #fff;
    box-shadow: 0 0 2px black;
}

.contact li:hover {
    box-shadow: 0 0 2px #e9676b;
}


.contact li a {
    font-size: 16px;
    color: #000;
}

